.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Selenium webdriver for Chrome
chromedriver

.DS_Store

attractions.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]