.vscode/*
*.code-workspace

# Local History for Visual Studio Code
.history/

# Selenium webdriver for Chrome
chromedriver

.DS_Store

*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

reviews/
*.json